@font-face {
    font-family: "Inter";
    src: url(Fonts/Inter_24pt-Regular.ttf);
}
@font-face {
    font-family: "Inter-Light";
    src: url(Fonts/Inter_18pt-Light.ttf);
}


*{
    font-family: inter;
    color: white;
}
.bg-body{
    background-color: #19191B !important;
}
li{
    color: white;
}
.footer-color{
    background-color: #1E1E20;
}
p{
    font-family: inter-light;
    color: rgba(255, 255, 255, 0.76);
}
/* .gradient{
    background-image: url(Images/Blue\ gradient.png);} */